.text {
  margin-bottom: 40px;
  font-size: 15px; }

.text:first-of-type {
  line-height: 26px;
  margin-bottom: 30px;
  color: #7F8A9E; }

.link {
  margin-bottom: 5px; }

.cta-green {
  margin-bottom: 30px; }

.phras-content {
  max-width: 400px;
  padding: 26px 10px 16px; }

.pb-pr-key {
  margin-bottom: 30px; }

.pb-pr-key h2 {
  margin: 0; }

.pb-pr-key h3 {
  margin-bottom: 20px;
  font-weight: 400; }
