main.search-component {
  margin-top: 65px; }

main.search-component .dropdown-container {
  width: 100%;
  border-bottom: 1px solid #eee; }

main.search-component .dropdown-container .main-grid {
  border-left: 1px solid #EBEDF1;
  font-size: 0; }

main.search-component .dropdown-container .dropdown {
  display: inline-block;
  font-size: 13px;
  height: 50px;
  font-family: "Montserrat", sans-serif;
  border-right: 1px solid #EBEDF1;
  padding: 17px 15px;
  color: #7F8A9E;
  position: relative;
  cursor: pointer; }

main.search-component .dropdown-container .dropdown span {
  position: relative;
  display: inline-block;
  padding-right: 20px; }

main.search-component .dropdown-container .dropdown span:after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 8px solid #B8C0CF; }

main.search-component .dropdown-container .dropdown .dropdown-content {
  max-height: 400px;
  overflow: auto;
  position: absolute;
  top: 50px;
  left: -1px;
  padding: 0;
  margin: 0;
  z-index: 2;
  border: 1px solid #EBEDF1; }

main.search-component .dropdown-container .dropdown .dropdown-content li {
  background: #fff;
  height: 50px;
  transition: background .2s; }

main.search-component .dropdown-container .dropdown .dropdown-content li:not(:last-child) {
  border-bottom: 1px solid #EBEDF1; }

main.search-component .dropdown-container .dropdown .dropdown-content li:hover {
  background-color: #EBEDF1; }

main.search-component .dropdown-container .dropdown .dropdown-content li a {
  display: block;
  width: 100%;
  height: 100%;
  color: #7F8A9E;
  padding: 18px 25px 18px 15px; }

main.search-component .dropdown-container .dropdown .dropdown-content li a i {
  font-size: 14px;
  color: #3378E1;
  margin-right: 14px; }

main.search-component #search-results {
  text-align: center;
  margin: 64px auto;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  color: #7F8A9E; }

main.search-component .pagination-container .pagination {
  max-width: 550px;
  margin: 20px auto; }

main.search-component .pagination-container .pagination .prev, main.search-component .pagination-container .pagination .next {
  padding: 12px 23px;
  color: #7F8A9E;
  border: 1px solid #EBEDF1;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  border-radius: 3px;
  vertical-align: middle;
  cursor: pointer; }

main.search-component .pagination-container .pagination ul {
  vertical-align: middle;
  padding: 0;
  margin: 0 20px; }

main.search-component .pagination-container .pagination ul li {
  margin: 0 3px;
  padding: 13px 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  height: 100%;
  display: inline-block;
  cursor: pointer;
  color: #7F8A9E; }

main.search-component .pagination-container .pagination ul li.splats {
  cursor: default; }

main.search-component .pagination-container .pagination ul li.selected {
  background: #1FDA81;
  border-radius: 3px;
  color: #fff; }
