<h1>PRIVACY NOTICE</h1>
<div class="text">
    <p>The protection of personal data of individuals is a top priority for us. This Privacy Notice helps you to make informed decisions about your relationship with DECENT Go, a.s. (“we” or “us”), so please read it carefully. It is crucial that you understand how and why we collect, use and share information about you when you access and use the online search engine, mobile apps and other online products and services operated by us ("the Services") or when you otherwise interact with us.</p>
    <p>We have taken appropriate technical and operational precautions to protect the personal data retained by us against unauthorized access and misuse. Our security procedures are revised regularly and adapted to reflect technological progress.</p>
    <h3>1. INFORMATION ABOUT YOU WE COLLECT </h3>
    <ul>
        <li>1.1 We collect information you directly provide to us when you use the Services. Depending on which Service you use, we may collect different information about you. This includes:</li>
        <li>
            <ul>
                <li>(a) Information Regarding Your Use of the Services – we collect the information, which is necessary in order for you to be able to use the Services. This includes information necessary to create your User Account including your e-mail address, user-name, password, IP address and information necessary for functioning of the user profile (user profile data), and potentially other information you provide when you sign up for the Services.
                    Also, we may collect certain information from you with regard to processing of your transactions. Transactions are processed and verified by DECENT blockchain network (“DECENT CORE”) and recorded in the DECENT CORE public ledger, which is not anyhow controlled by us.
                </li>
                <li>(b) Information that we can use to provide additional features and improved experience if you choose to provide that information - this includes e.g. information used to create your Author Profile (such as but not limited to name, description/BIO, photo, address, country, mobile phone number, Facebook, Instagram, Youtube URL).
                    We may also collect your Log and Usage Data when you access and use the Services. This may include information about services used by you, information form protocols, localization data, unique application numbers, your IP address, online identifiers, unique device identifiers, browser type, operating system, referral URLs, device information (e.g., device IDs), pages visited, links clicked, user interactions (e.g., voting data), the requested URL, hardware settings, and search terms. This enables us to make suggestions and recommendations to you and suggest relevant content based on your personal preferences, purchases, location, etc. This information will only be collected if you explicitly give us permission to do so and you will always have the ability to change your mind and revoke that permission.
                    We may also receive information from cookies. We use this information to improve your experience, understand user activity, and improve the quality of the Services. For example, we store and retrieve information about your preferred language and other settings.
                    We may use various analytical tools, such as Exponea, Kissmetrics, MailGun, MailChimp, Landesk. These tools serve to enable us to provide additional tools, tailor-made services based on users´ preferences and overall improved experience of users.
                    We may offer social sharing features or other integrated tools that let you share content or actions you take on the Services with other media. Your use of these features enables the sharing of certain information with your friends or the public, depending on the settings you establish with the third party that provides the social sharing feature. For more information about the purpose and scope of data collection and processing in connection with social sharing features, please visit the privacy policies of the third parties that provide these social sharing features.
                    Information in this section may be based on automated means and may include profiling.
                </li>
                <li>(c) Information you upload (e.g., text, photos, audio files, videos, links).</li>
                <li>(d) Other Information – you may choose to provide other information directly to us, e.g. with respect to the promotions and related services, your requests and notifications, customer support or other communication with us.
                    <p>We do not intend to process special categories of data, such as personal data revealing racial or ethnic origin, political opinions, religious or philosophical beliefs and the processing of genetic data, biometric data for the purpose of uniquely identifying a natural person, data concerning health or a natural person's sex life or sexual orientation, unless the individual has given explicit consent to the processing of such data.</p>
                </li>

            </ul>
        </li>
    </ul>
    <h3>2. HOW WE USE INFORMATION ABOUT YOU</h3>
    <ul>
        <li>2.1 We use information about you to:</li>
        <li>
            <ul>
                <li>(a) Ensure technical functionality of the Services, develop new products and services, and analyse your use of the Services, including your interaction with applications and services that are made available, linked to, or offered through the Services;</li>
                <li>(b) Prevent or detect fraud;</li>
                <li>(c) Provide, personalise, and improve your experience with the Services, for example by providing customised, personalised, or localised content, recommendations, features, and advertising, maintain, and improve the Services;</li>
                <li>(d) Help protect the safe use of Services and the safety of our users, which includes, collecting of users’ ratings, restricting or limiting the access of suspected spammers and blocking of suspicious/inappropriate/illegal/defamatory content], addressing abuse, and enforcing the Terms of Use of the Services;</li>
                <li>(e) Send you technical notices, updates, security alerts, invoices and other support and administrative messages;</li>
                <li>(f) Provide customer service;</li>
                <li>(g) Communicate with you about products, services, offers, promotions, and events, and provide other news and information we think will be of interest to you;</li>
                <li>(h) Monitor and analyze trends, usage, and activities in connection with the Services;</li>
                <li>(i) Personalize the Services and provide advertisements, content and features that match user profiles or interests;</li>
                <li>(j) As stated otherwise in this Privacy Notice.</li>
            </ul>
        </li>
        <li>2.2 We will process the information that we collect about you during the term, which is necessary for the purposes for which these information are processed (i.e. your user account data and user profile data shall be processed within the period, when your user account and profile are active). Other personal data, for which you give us your consent with personal data processing will be processed during the term as indicated in the respective consent.</li>
    </ul>
    <h3>3. HOW WE SHARE INFORMATION</h3>
    <ul>
        <li>3.1 When you use the Services, certain information may be shared with other users and the public. For example:</li>
        <li>
            <ul>
                <li>(a) When you submit a post or comment to the Services, visitors to and users of the Services will be able to see the content of your posts and comments, the username associated with your posts or comments, and the date and time you originally submitted the post or comment.</li>
                <li>(b) When other users view your profile, they will be able to see information about your activities on the Services, such as your username, prior posts and comments, and how long you have been a member of the Services.</li>
            </ul>
        </li>
        <li>3.2 We will not share, sell, or give away any of our users’ personal information to third parties, unless one of the following circumstances applies:</li>
        <li>
            <ul>
                <li>(a) We may share information (and will attempt to provide you with prior notice, to the extent legally permissible) in response to a request for information if we believe disclosure is in accordance with, or required by, any applicable law, regulation, legal process or governmental request;</li>
                <li>(b) We may share information in response to an emergency if we believe it's necessary to prevent imminent and serious bodily harm to a person;</li>
                <li>(c) We may share information if we believe your actions are inconsistent with our user agreements, or our other policies, or to protect the rights, property, and safety of ourselves and others;</li>
                <li>(d) We may share information between and among us, and our current and future parents, affiliates, subsidiaries, and other companies under common control and ownership; and</li>
                <li>(e) We may share information with your consent or at your direction.</li>
            </ul>
        </li>
        <li>3.3 We may share aggregated or anonymized information, which cannot reasonably be used to identify you.</li>
    </ul>
    <h3>4. TRANSFER TO OTHER COUNTRIES</h3>
    <ul>
        <li>4.1 Personal data of our users will be transferred, processed and stored on servers located in EU (Germany). We may subcontract processing to, or share your information with, third parties located in countries other than your home country. In order for us to be able to provide you with the use of Services, you acknowledge that your personal data may be processed, transferred and stored in other countries, where you may not have the same rights as you do under your local law.</li>
        <li>4.2 In addition, personal data of users may be transferred to countries, which based on the EU Commission decision do not ensure an adequate level of protection (“third countries”). Hereby you specifically acknowledge that your personal data may be transferred to third countries. In such a case, we will take necessary effort to make use of solutions that will provide you with enforceable and effective rights as regards the processing of your data once those have been transferred, so that you may continue to benefit from fundamental rights and respective safeguards.</li>
    </ul>
    <h3>5. SECURITY</h3>
    <ul>
        <li>5.1 We take reasonable measures to help protect information about you from loss, theft, misuse and unauthorized access, disclosure, alteration, and destruction.</li>
    </ul>
    <h3>6. AGE LIMIT</h3>
    <ul>
        <li>6.1 The Services are not intended or directed at individuals under the age of 21. We do not knowingly collect personal information from individuals under 21 (“the Age Limit”). If you are under the Age Limit, please do not use the Services and do not provide any personal information to us.</li>
    </ul>
    <h3>7. YOUR RIGHTS</h3>
    <ul>
        <li>7.1 You as a data subject (“the Data Subject”) have the right to request the access and rectification or erasure of personal data or restriction of processing or to object to processing as well as the right to data portability. Further, you have a right to lodge a complaint with a respective supervisory authority.</li>
        <li>7.2 The right to rectification is the right of the Data Subject to obtain without undue delay the rectification of inaccurate personal data concerning him or her.</li>
        <li>7.3 The right to erasure is the right of the Data Subject to obtain the erasure of personal data concerning him or her without undue delay, where:</li>
        <li>
            <ul>
                <li>(a) the personal data are no longer necessary in relation to the purposes for which they were collected or otherwise processed;</li>
                <li>(b) the user withdraws consent on which the processing is based and where there is no other legal ground for the processing;</li>
                <li>(c) the Data Subject objects to the processing and there are no overriding legitimate grounds for the processing;</li>
                <li>(d) the personal data have been unlawfully processed;</li>
                <li>(e) the personal data have to be erased for compliance with a legal obligation in the law;</li>
                <li>(f) the personal data have been collected in relation to the offer of information society services.
                    <p>The exercise of the right to erasure is subject to respective limitations set by the applicable law. </p>
                </li>
            </ul>
        </li>
        <li>7.4 The Data Subject has the right to restriction of processing, when:</li>
        <li>
            <ul>
                <li>(a) the accuracy of the personal data is contested by the Data Subject, for a period enabling us to verify the accuracy of the personal data;</li>
                <li>(b) the processing is unlawful and the user opposes the erasure of the personal data and requests the restriction of their use instead;</li>
                <li>(c) the personal data are no longer needed for the purposes of the processing, but they are required by the Data Subject for the establishment, exercise or defence of legal claims;</li>
                <li>(d) the Data Subject has objected to processing, pending the verification whether the legitimate grounds of us override those of the Data Subject.</li>
            </ul>
        </li>
        <li>7.5 The Data Subject shall have the right to receive the personal data concerning him or her, which he or she has provided to us, and have the right to transmit those data to another controller, where technically feasible, where the processing is based on consent pursuant or on a contract and the processing is carried out by automated means.</li>
        <li>7.6 The Data Subject shall have the right to object, on grounds relating to his or her particular situation, at any time to processing of personal data concerning him or her which is based on respective provisions of the law, including profiling based on those provisions.</li>
        <li>7.7 Where personal data are processed for direct marketing purposes, the Data Subject shall have the right to object at any time to processing of personal data concerning him or her for such marketing, which includes profiling to the extent that it is related to such direct marketing.</li>
        <li>7.8 Subject to the respective statutory limitations set by the applicable law, the Data Subject shall have the right not to be subject to a decision based solely on automated processing, including profiling, which produces legal effects concerning him or her or similarly significantly affects him or her.</li>
        <h3>8. CHANGES TO THE PRIVACY NOTICE</h3>
        <ul>
            <li>8.1 We may change this Privacy Notice from time to time. When we make material changes, we’ll provide you with prominent notice as appropriate under the circumstances, e.g., by displaying a prominent notice within the Services or by sending you an email. We encourage you to review the Privacy Notice whenever you access or use the Services or otherwise interact with us to help protect your privacy. If you continue to use the Services after Privacy Notice changes go into effect, you consent to the revised notice.</li>
        </ul>
        <h3>9. CONTACT US</h3>
        <ul>
            <li>9.1 If you have any questions about this Privacy Notice, please submit a ticket on https://decent.ladesk.com/submit_ticket.</li>
        </ul>
    </ul>
</div>
