<h1 class="inner-main-title">Wait</h1>
<h2>Before you sign out, make sure to generate your recovery phrase.</h2>
<h2>This will allow you to recover your account if you ever forget your password.</h2>
<button type="submit" md-raised-button color="primary" class="cta-green" routerLink="../add-recovery-phrase">
    generate
</button>
<div class="link"><a routerLink="/sign-in">Skip this step</a></div>
<div class="text caption note">NOT RECOMMENDED…. But if you are extremely confident in your ability to
    remember your account password then you may proceed without this security setting
</div>
