<div class="my-purchases-item">
    <h1>FKA twigs – M3LL155X</h1>
    <div class="text artist">by: <a href="">Alesandro Domines</a></div>
    <div class="img">
        <img src="../../../assets/images/purchase-item.png" alt="">
    </div>
    <div class="price active-color">13.00 DCT / 11 USD</div>
    <div class="about">
        <div class="text">
            <div class="category">POP / R&B</div>
            <div>As a creative package, M3LL155X is unimpeachable; a high-concept piece of work that's evocative, accessible and transgressive. It builds on FKA twigs' previous work, exploring ideas of psychic and interpersonal dominance and submission, but drills down almost completely into self.</div>
        </div>
        <ul fxLayoutWrap fxLayout="row">
            <li fxFlex="33.333" fxFlex.xs="50">
                <div>19 / 08 / 2015</div>
                <div>English</div>
            </li>
            <li fxFlex="33.333" fxFlex.xs="50">
                <div>MP3</div>
                <div>18:44</div>
            </li>
            <li fxFlex="33.333" fxFlex.xs="50">
                <div>Free to use</div>
            </li>
        </ul>
    </div>
    <div class="buttons" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="20px">
        <button class="cta-green" type="submit" md-raised-button color="primary"><i class="icon-download"></i>download</button>
        <button class="cta-green" type="submit" md-raised-button color="primary"><i class="icon-feedback"></i>leave feedback</button>
        <button class="cta-green" type="submit" md-raised-button color="primary"><i class="icon-report"></i>Report</button>
    </div>
</div>
