@import "../../../assets/variable";

.security {
    .phrase-hint {
        li {
            border-bottom: 1px solid $border;
            padding: 14px 10px;
            font-family: $open;
            &.opened {
                background: #F6F8FB;
            }
            .button-phrase, .button-hint {
                > div:first-of-type {
                    font-size: 15px;
                    font-weight: 600;
                    color: $dark-accent-400;
                }
                > div:last-of-type {
                    text-align: right;
                }
                .drop-prase {
                    background: #F6F8FB;
                }
                .active-color {
                    a {
                        color: $primary;
                    }
                }
            }
            .drop-prase {
                .phras-content {
                    max-width: 400px;
                    padding: 26px 10px 16px;
                    .text {
                        &:first-of-type {
                            margin-bottom: 30px;
                            line-height: 26px;
                        }
                        &:last-of-type {
                            margin-bottom: 40px;
                        }
                    }
                }
            }
            .drop-hint {
                .hint-content {
                    max-width: 400px;
                    padding: 20px 10px;
                    .hint {
                        margin-bottom: 0;
                    }
                    .text {
                        margin-bottom: 30px;
                    }
                    md-input-container {
                        display: block;
                    }
                    button {
                        margin-top: 14px;
                    }
                }
            }
            &:last-of-type {
                border: none
            }
        }
    }
    .text {
        font-size: 15px;
        color: $dark-accent-400;
    }
    button {
        padding: 12px 20px;
    }
}

@media only screen and (max-width: 940px) {

}

@media only screen and (max-width: 480px) {
    .security {
        padding: 0;
        .phras-content {
            button {
                width: 100%;
            }
        }
    }
}
