.list-container {
  margin-bottom: 40px; }

.list-container .items-container {
  margin: 40px -10px 0; }

.list-container .header-container h2 {
  font: 24px "Montserrat", sans-serif;
  font-weight: 500;
  float: left;
  margin: 0;
  color: #6C788D; }

.list-container .header-container .see-more {
  color: #7F8A9E;
  font: 16px "Montserrat", sans-serif; }

.list-container .header-container .see-more:hover {
  text-decoration: underline; }

.list-container .list-item {
  margin-bottom: 60px;
  padding: 0 10px; }

.list-container .list-item .image-container {
  position: relative; }

.list-container .list-item .image-container img {
  position: relative;
  width: 100%;
  border-radius: 3px; }

.list-container .list-item .image-container div.image-shadow {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 94%;
  height: 90%;
  filter: blur(12px);
  transform: translateX(-50%);
  box-shadow: inset 0 40px 0 0 #eaeaea;
  background-size: cover; }

.list-container .list-item h3 {
  margin: 30px 0 0;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #7F8A9E; }

.list-container .list-item span.price {
  display: block;
  margin: 14px 0 0;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #384E74;
  font-weight: 500; }
