<div class="add-item-2-3">
    <h1>Add New Item 2/3</h1>
    <div class="active-color">Upload</div>
    <div class="block-1">
        <div class="upload-area" fxLayout="row" fxLayoutAlign="start center">
            <button class="button-small cta-grey" type="submit" md-raised-button color="accent">
                <label for="choose-file">CHOOSE FILE</label>
                <input id="choose-file" type="file">
            </button>
            <h3>No File Choosen</h3>
        </div>
        <h3>Picture size max. 100 X 100px</h3>
    </div>
    <div class="block-2">
        <div class="upload-area" fxLayout="row" fxLayoutAlign="start center">
            <button class="button-small cta-grey" type="submit" md-raised-button color="accent">
                <label for="choose-simple">CHOOSE sample</label>
                <input id="choose-simple" type="file">
            </button>
            <h3>No File Choosen</h3>
        </div>
        <h3>Picture size max. 100 X 100px</h3>
    </div>
    <div class="next-back" fxLayout.xs="row" fxLayoutGap="20px">
        <button class="cta-grey" fxFlex="135px" fxFlex.xs="50%" type="submit" md-raised-button color="accent">back</button>
        <button class="cta-green" fxFlex="135px" fxFlex.xs="50%" type="submit" md-raised-button color="primary">next</button>
    </div>
</div>
