.add-item-2-3 div.active-color {
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif; }

.add-item-2-3 .upload-area {
  padding: 20px;
  background: #F6F8FB;
  margin-bottom: 10px; }

.add-item-2-3 .upload-area .cta-grey {
  min-width: 160px !important; }

.add-item-2-3 .block-1, .add-item-2-3 .block-2 {
  margin-bottom: 30px; }

.add-item-2-3 h3 {
  padding-left: 20px;
  font-weight: 400; }

.add-item-2-3 .next-back {
  font-size: 0;
  margin-bottom: 50px; }

@media only screen and (max-width: 480px) {
  .add-item-2-3 .next-back .cta-green, .add-item-2-3 .next-back .cta-grey {
    min-width: 0 !important; } }
