<div class="add-item-1-3">
    <h1>Add New Item 1/3</h1>
    <div class="active-color">Basic Info</div>
    <div fxLayout="row" class="block-1" fxLayoutWrap fxLayoutAlign="start start">
        <div class="upload-img new">
            <div class="img" fxlayout="row" fxLayoutAlign="center center">
                <!--<i class="icon-go"></i>-->
                <img src="../../../assets/images/autor.png" alt="">
            </div>
            <button class="cta-grey" type="submit" md-raised-button color="accent">
                <label for="upload-image">upload pic</label>
                <input id="upload-image" type="file">
            </button>
            <div class="size-info">
                <h3>Picture size max.</h3>
                <h3>100 X 100px</h3>
            </div>
        </div>
        <div class="name-description" fxFlex.xs="100">
            <md-input-container>
                <input mdInput placeholder="File Title" type="text"/>
            </md-input-container>
            <md-select placeholder="Genre / Category">
                <md-option>
                    <!--{{// food.viewValue}}-->
                </md-option>
            </md-select>
            <md-input-container class="example-full-width">
                <textarea mdInput placeholder="Description / BIO"></textarea>
            </md-input-container>
        </div>
    </div>
    <div fxLayout="row" fxLayoutGap="30px" class="block-2" fxLayoutWrap fxLayout.xs="column" fxLayoutGap.xs="10px">
        <div fxFlex="50">
            <!--<md-input-container>-->
            <!--<input placeholder="Release Date">-->
            <!--<i class="icon-date"></i>-->
            <!--</md-input-container>-->
            <!--<md-datepicker #picker></md-datepicker>-->
            <md-input-container>
                <input mdInput placeholder="Price in USD" type="number"/>
            </md-input-container>
            <md-select placeholder="File Format">
                <md-option>
                    <!--{{// food.viewValue}}-->
                </md-option>
            </md-select>
        </div>
        <div fxFlex="50">
            <md-select placeholder="Language">
                <md-option>
                    <!--{{// food.viewValue}}-->
                </md-option>
            </md-select>
            <md-select placeholder="Usage Rights">
                <md-option>
                    <!--{{// food.viewValue}}-->
                </md-option>
            </md-select>
            <md-input-container>
                <input mdInput placeholder="Lenght" type="text"/>
            </md-input-container>
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="end start" class="next">
        <button class="cta-green" type="submit" md-raised-button color="primary">next</button>
    </div>
</div>
