<h1 class="inner-main-title">Account Recovery</h1>
<h2>To recover your account, you have two options: </h2>
<h3>You can enter your recovery phrase, which was generated during your initial account set up. </h3>
<button type="submit" class="button-normal" md-raised-button color="primary" routerLink="../insert-recovery-phrase">
    INSERT RECOVERY PHRASE
</button>
<h3>You can chose to show the password hint that you created during your initial account set up. </h3>
<button type="submit" md-raised-button color="accent" class="cta-grey" routerLink="../enter-email">get PASSWORD
    HINT
</button>
