h3 {
  margin-bottom: 20px; }

.button-normal {
  width: 100%;
  box-shadow: 0 10px 40px rgba(47, 238, 147, 0.4) !important;
  margin-bottom: 50px; }

.cta-grey {
  min-width: 220px !important;
  margin-bottom: 30px; }
