.transfer form > div {
  margin: 0 -15px; }

.transfer form > div > div {
  padding: 0 15px; }

.transfer form md-input-container {
  width: 100%; }

.transfer form .current-balanse {
  margin-bottom: 20px; }

.transfer form button {
  margin-top: 34px;
  margin-bottom: 55px; }
