<h1>DECENT GO DMCA (Copyright) Notifications and Counter-Notifications Process</h1>
<div class="text">
    <p>DECENT GO does not permit copyright infringing on DECENT GO. Due to nature of its mechanism, DECENT GO does permit individuals and organization to make content available through the DECENT GO that the DECENT GO’s representatives cannot and do not actively evaluate, examine, screen or approve prior to such material being published. Therefore, there is a possibility that copyrighted unauthorized material may be delivered from the DECENT GO to the Internet without our knowledge. Each user is responsible for ensuring that the materials they upload to the DECENT GO do not infringe any third-party copyright.</p>
    <h3>Filing a DMCA Notice to remove copyrighted content for copyright holders</h3>
    <p>When submitting a DMCA Notice claiming copyright infringement to DECENT GO’s designated agent, it is important that the complaint is clear, concise, accurate and complete which will help in handling your complaint effectively and expeditiously. If you believe that your work has been copied in a way that constitutes copyright infringement, please provide us with written notice containing the following information:</p>
    <ul>
        <li>1. Your identification</li>
        <li>
            <ul>
                <li>a. Provide your real name, title, address, telephone number and e-mail. This information will not be used, or provided to others for use, for any reason other than to address the complaint with the individual accused of infringing, our attorneys and the courts as required.</li>
                <li>b. Identify yourself as</li>
                <li>
                    <ul>
                        <li>i. A person authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.</li>
                        <li>ii. The owner of copyrighted work(s).</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>2. Identification and description of the material that is claimed to be infringing or to be the subject of infringing activity and that is to be removed or access to which is to be disabled. If multiple copyrighted works are covered by a single notification, a representative list of such works accessible through DECENT GO.</li>
        <li>3. Show the original location of where on the DECENT GO the material that you claim is infringing may be found (exact URL(s)).</li>
        <li>4. A statement that you have good faith belief that the use of the copyrighted work is not authorized by the copyright owner, its agent or the law.</li>
        <li>5. A statement that the information in the notification is accurate and under penalty of perjury, that the complaining party is authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.</li>
        <li>6. Your electronic or physical signature.</li>
        <p>You may submit this notification via:</p>
        <ul>
            <li>Online: <a href="https://goo.gl/forms/PldQi5pkfoNghdwy1">Our DMCA claim form</a></li>
            <li>E-mail: notify@decentgo.com</li>
            <li>Offline: DECENT GO’s DMCA copyright agent</li>
        </ul>
    </ul>
    <h3>Filing a DMCA Counter-Notification to restore access to removed content – for DECENT GO Users</h3>
    <p>If you believe in good faith that your material has been removed by mistake or misidentification, you can submit Counter Notification to DECENT GO’s designated agent. It is important that the Counter Notification is clear, concise, accurate and complete, as well as ensuring that it is compliant with the DMCA requirements for Counter Notifications which will help in handling your complaint effectively and expeditiously. Please provide DECENT GO with a written Counter Notification containing the following information:</p>
    <ul>
        <li>1. Your name, address, telephone number, e-mail, username on DECENT GO. DECENT GO will only use this information to address the complaint and work with you as a user of DECENT GO. This may require us to send the information to the individual or entity that filed the complaint against you, our attorneys and/or the courts. The information will not be used or provided to others for use, for any other reason.</li>
        <li>2. Identification of the material which access has been disabled and the location at which the material appeared before access to it was disabled. This identification should include exact URL(s).</li>
        <li>3. A statement under penalty of perjury that you have a good faith belief that the access to the material has been disabled as a result of mistake or misidentification.</li>
        <li>4. A statement that you consent to the jurisdiction of the Federal District Court for the judicial district in which your address is located, or if your address is outside of the United States, for any judicial district in which DECENT GO may be found (general courts located in the Slovak Republic) and that you will accept services of process from the person who filed the original DMCA notice or an agent of that person.</li>
        <li>5. Your electronic or physical signature</li>
    </ul>
    <p>You may submit this notification via:</p>
    <ul>
        <li>Online: <a href="https://goo.gl/forms/86QMTbeWmfNNy06Q2">Our DMCA Counter-Notification form </a></li>
        <li>E-mail: notify@decentgo.com</li>
        <li>Offline: DECENT GO’s DMCA copyright agent</li>
    </ul>
    <p>Please note that we will send any complete counter-notifications we receive to the person or agent of that person who submitted the original DMCA notice. That person may elect to file a lawsuit against you for copyright infringement. If we do not receive notice that a lawsuit has been filed within ten (10) business days after we provide notice of your counter-notification, we will enable access to the materials. Until that time, access to your materials will remain disabled. We will provide a copy of the original DMCA takedown notice upon request. </p>
    <h3>Repeat Infringer Policy</h3>
    <p>DECENT GO will terminate user accounts that have been the subject of three (3) separate DMCA notices. In case of a user’s materials removed due to a DMCA notice and then subsequently restored due to the filing of a DMCA counter-notification, DECENT GO will treat the underlying DMCA notice as withdrawn. </p>
    <h3>Warning</h3>
    <p>In filing a DMCA notice or counter-notification, please make sure that you have complied with all of the above requirements. If we request additional information necessary to make your DMCA notice or counter-notification complete, provide that information promptly. If you fail to comply with all of these requirements, your DMCA notice or counter-notification may not be processed further.
        In addition, make sure that all of the information you provide is accurate. UNDER SECTION 512(f) OF THE COPYRIGHT ACT, ANY PERSON WHO KNOWINGLY MATERIALLY MISREPRESENTS THAT MATERIAL OR ACTIVITY IS INFRINGING, OR THAT MATERIAL OR ACTIVITY WAS DISABLED BY MISTAKE OR MISIDENTIFICATION, SHALL BE LIABLE FOR ANY DAMAGES, INCLUDING COSTS AND ATTORNEY'S’ FEES, INCURRED BY THE ALLEGED INFRINGER, BY ANY COPYRIGHT OWNER OR COPYRIGHT OWNER’S AUTHORIZED LICENSEE, OR BY A SERVICE PROVIDER, WHO IS INJURED BY SUCH MISREPRESENTATION, AS THE RESULT OF THE SERVICE PROVIDER RELYING UPON SUCH MISREPRESENTATION IN DISABLING ACCESS TO THE MATERIAL OR ACTIVITY CLAIMED TO BE INFRINGING.
    </p>
    <p>This means that, under federal law, you may suffer substantial penalties which could include large fines to cover monetary damages, court costs and attorney fees if you knowingly misrepresent material as infringing, or not infringing. You could also be subject to criminal prosecution of perjury. For the protection of everyone, it is vital that you only submit a claim if you believe in good faith that the claim is true and correct.</p>
    <p>DECENT GO’s Copyright Agent</p>
    <p>In addition to the webforms we provide, you may send a DMCA notice, a DMCA counter-notification or any inquiries concerning intellectual property to DECENT GO’s Copyright agent:</p>
    <ul>
        <li>Tomas Varga</li>
        <li>Rajska 15/A</li>
        <li>811 01 Bratislava</li>
        <li>Slovakia</li>
        <li>notify@decentgo.com</li>
    </ul>
    <h3>Trademark Law and Infringement</h3>
    <p>If you believe a DECENT GO member is infringing on your trademark, please send a trademark complaint to notify@decentgo.com and a DECENT GO moderator will investigate your claim right away.</p>
    <h3>Privacy Violation</h3>
    <p>If you believe a DECENT GO member is violating your privacy, please send a privacy complaint to notify@decentgo.com and a DECENT GO moderator will investigate your claim right away.</p>
</div>