.home-page #line-holder {
  width: 70px;
  margin: 20px auto;
  border-bottom: 1px solid #9d9d9d; }

.home-page #trending-container {
  width: 800px;
  margin: 20px auto; }

.home-page app-trending-list {
  display: block;
  margin: 60px 0; }

.home-page main {
  margin-top: 65px; }

.home-page main .cover {
  position: relative;
  height: 535px;
  background: #1FDA81;
  background-size: 50%; }

.home-page main .cover > img {
  position: absolute;
  width: 417px;
  right: 20px;
  bottom: 0;
  pointer-events: none; }

.home-page main .cover .main-grid {
  height: inherit; }

.home-page main .cover .main-grid > img {
  position: absolute;
  width: 166px;
  left: -90px;
  bottom: 0;
  pointer-events: none; }

.home-page main .cover .main-grid > div {
  height: inherit; }

.home-page main .cover .main-grid > div .title {
  text-align: center; }

.home-page main .cover .main-grid > div .title * {
  color: #fff;
  font-family: "Montserrat", sans-serif; }

.home-page main .cover .main-grid > div .title h1 {
  margin-bottom: 20px;
  font-weight: 500; }

.home-page main .cover .main-grid > div .title h1 span {
  text-decoration: underline; }

.home-page main .cover .main-grid > div .title .text {
  margin-bottom: 40px;
  letter-spacing: 0.76px; }

.home-page main .cover .main-grid > div .title .cta-grey {
  width: 190px; }

.home-page main .search-block {
  margin-bottom: 80px;
  border-bottom: 1px solid #EBEDF1; }

.home-page main .search-block .search {
  padding: 40px 0; }

.home-page main .search-block .search span {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  margin: 0 10px;
  color: #94A0B5; }

.home-page main .search-block .search label {
  position: relative;
  display: inline-block;
  width: calc(100% - 180px); }

.home-page main .search-block .search label:before {
  content: "";
  position: absolute;
  left: 12px;
  top: 14px;
  width: 12px;
  height: 13px;
  background: url("../../../assets/images/icons/search.svg");
  background-size: 12px 13px; }

.home-page main .search-block .search label ::-webkit-input-placeholder {
  /* Chrome */
  color: #7F8A9E; }

.home-page main .search-block .search label :-ms-input-placeholder {
  /* IE 10+ */
  color: #7F8A9E; }

.home-page main .search-block .search label ::-moz-placeholder {
  /* Firefox 19+ */
  color: #7F8A9E;
  opacity: 1; }

.home-page main .search-block .search label :-moz-placeholder {
  /* Firefox 4 - 18 */
  color: #7F8A9E;
  opacity: 1; }

.home-page main .search-block .search label input {
  font-family: "Montserrat", sans-serif;
  color: #7F8A9E;
  width: 100%;
  padding: 12px 12px 12px 34px;
  border-radius: 3px;
  border: 1px solid #EBEDF1;
  font-size: 13px; }

.home-page main .search-block .search label input:focus {
  outline: none; }

.home-page main .list-content {
  padding-bottom: 60px; }

.home-page main .list-content h2 {
  margin-bottom: 80px;
  font-size: 32px;
  font-family: "Montserrat", sans-serif;
  color: #7F8A9E;
  font-weight: 500;
  text-align: center; }

.home-page main .list-content .see-more {
  position: relative;
  margin-top: 60px;
  text-align: center;
  font-family: "Montserrat", sans-serif; }

.home-page main .list-content .see-more a {
  position: relative;
  padding: 0 10px;
  background: #fff;
  z-index: 1; }

.home-page main .list-content .see-more:after {
  content: '';
  position: absolute;
  top: 10px;
  right: 0;
  left: 0;
  height: 1px;
  background: #EBEDF1;
  z-index: 0; }

.home-page main .explore {
  text-align: center;
  padding: 60px 0; }

.home-page main .explore h3 {
  margin-bottom: 30px;
  font-size: 32px;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
  color: #7F8A9E; }

.home-page main .explore .text {
  margin-bottom: 40px; }

.home-page main .sign-up {
  margin-top: 60px;
  padding: 120px 0;
  background: #384E74;
  text-align: center; }

.home-page main .sign-up h3 {
  margin-bottom: 30px;
  font-size: 32px;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
  color: #fff; }

.home-page main .sign-up .text {
  margin-bottom: 40px;
  color: #B0B8C7; }

@media only screen and (max-width: 768px) {
  .home-page main .cover > img {
    display: none; }
  .home-page main .cover .main-grid > img {
    display: none; } }

@media only screen and (max-width: 480px) {
  .home-page main.homemain {
    margin-top: 40px; }
  .home-page main .cover .main-grid > div .title h1 {
    font-size: 22px;
    line-height: 27px; }
  .home-page main .cover .main-grid > div .title .text {
    font-size: 14px; }
  .home-page main .search-block {
    margin-bottom: 60px; }
  .home-page main .search-block .search {
    padding: 30px 0;
    text-align: center; }
  .home-page main .search-block .search > span {
    display: block;
    margin: 15px 0; }
  .home-page main .search-block .search label {
    width: 100%; }
  .home-page main .list-content {
    padding-bottom: 40px; }
  .home-page main .list-content h2 {
    font-size: 19px;
    margin-bottom: 60px; }
  .home-page main .list-content .see-more {
    margin-top: 50px; }
  .home-page main .explore {
    padding: 40px 0; }
  .home-page main .explore h3 {
    font-size: 19px; }
  .home-page main .explore .text {
    font-size: 13px; }
  .home-page main .sign-up {
    margin-top: 40px;
    padding: 80px 0;
    background: #384E74;
    text-align: center; }
  .home-page main .sign-up h3 {
    margin-bottom: 30px;
    font-size: 32px;
    font-weight: 300;
    font-family: "Open Sans", sans-serif;
    color: #fff; }
  .home-page main .sign-up .text {
    margin-bottom: 40px;
    color: #B0B8C7; } }
