<div class="purchases">
    <h1>My Purchases</h1>
    <ul>
        <li fxLayout="row">
            <div fxFlex="16.666"><h3>apr<span>28</span></h3></div>
            <div fxFlex="58.333" fxFlex.sm="43.333" fxFlex.xs="66.666"><h3><a href="">FKA Twigs</a><span class="plus">Seeding</span></h3></div>
            <div fxFlex="24.999" fxFlex.sm="40" fxFlex.xs="16.666">
                <button class="cta-green" type="submit" md-raised-button color="primary"><i class="icon-download"></i><span>Download</span></button>
            </div>
        </li>
        <li fxLayout="row">
            <div fxFlex="16.666"><h3>apr<span>13</span></h3></div>
            <div fxFlex="58.333" fxFlex.sm="43.333" fxFlex.xs="66.666"><h3><a href="">Black and White Photography</a><span class="minus">Stoped</span></h3></div>
            <div fxFlex="24.999" fxFlex.sm="40" fxFlex.xs="16.666">
                <button class="cta-green" type="submit" md-raised-button color="primary"><i class="icon-download"></i><span>Download</span></button>
            </div>
        </li>
        <li fxLayout="row">
            <div fxFlex="16.666"><h3>FEB<span>25</span></h3></div>
            <div fxFlex="58.333" fxFlex.sm="43.333" fxFlex.xs="66.666"><h3><a href="">Guardians of the Galaxy</a><span class="plus">Seeding</span></h3></div>
            <div fxFlex="24.999" fxFlex.sm="40" fxFlex.xs="16.666">
                <button class="cta-green" type="submit" md-raised-button color="primary"><i class="icon-download"></i><span>Download</span></button>
            </div>
        </li>
        <li fxLayout="row">
            <div fxFlex="16.666"><h3>JAN<span>12</span></h3></div>
            <div fxFlex="58.333" fxFlex.sm="43.333" fxFlex.xs="66.666"><h3><a href="">EXCEL Book</a><span class="plus">Seeding</span></h3></div>
            <div fxFlex="24.999" fxFlex.sm="40" fxFlex.xs="16.666">
                <button class="cta-green" type="submit" md-raised-button color="primary"><i class="icon-download"></i><span>Download</span></button>
            </div>
        </li>
    </ul>
    <div class="empty" *ngIf="">No purchases yet</div>
</div>
