<h1>Terms of Use</h1>
<div class="text">

    <p>These Terms of Use (“Terms”) apply to your access to and use of the online search engine operated by DECENT Go, a.s. (“we” or “us”), mobile apps and other online products and services (collectively, "the Services” or “DECENT GO”). Your agreement with us includes the Terms of Use and our Privacy Notice.
        You acknowledge that you have read and understood the Terms and the Privacy Notice and accept these. By accessing or using the Services, you agree to be bound by the Terms. If you don’t agree with (or cannot comply with) the Terms, you may not use the services as defined further. If we make changes to the Terms, we will provide notice of those changes by updating the “Last Updated” date above or posting notice on DECENT GO. Your continued use of the Services will confirm your acceptance of the changes.
        In order to use the Services, you need to (a) be 21 or older (please note that in some countries specific age restrictions may apply) or to have your parent or guardian’s consent to the Terms, (b) have the power to enter into a binding contract with us and not be barred from doing so under any applicable laws and (c) be resident in a country where the Services are available.
    </p>
    <h3>1 DECENT GO</h3>
    <ul>
        <li>1.1 DECENT GO as a user interface (search engine) is designed to facilitate access to various content posted by DECENT GO users for a general audience (“DECENT Content”) in the blockchain network which allows content publishing and buying on a peer-to-peer principle (“DECENT CORE”). DECENT CORE is a decentralized autonomous organization that runs with no third party intervention. DECENT GO is a user interface built on top of DECENT CORE. DECENT GO is not and may not be in any way legally interconnected with DECENT CORE. DECENT GO does not in any way exercise control over DECENT CORE.</li>
        <li>1.2 Digital cryptographic token (“DCT”) allows individuals or organizations to approach the genuine digital content. DCT is not issued or put into circulation by us, neither do we have an authority to redeem DCT.</li>
        <li>1.3 DECENT GO amongst others provides delivery, communication or network data access services. For the avoidance of any doubts, DECENT GO does not accept any currency, funds or other value substituting currency from one person and does not transmit currency, funds or other value substituting currency to another location or person by any means.</li>
    </ul>
    <h3>2 COPYRIGHT AND LICENSE TERMS</h3>
    <ul>2.1 DECENT Content is protected by intellectual property laws, including copyright and other proprietary rights of respective states. We respect intellectual property rights and expect you to do the same. Except as explicitly stated in the Terms, we do not grant any express or implied rights to use the DECENT Content.
        <li>2.2 You are granted a limited, non-exclusive, non-transferable, and non-sublicensable license to access the previews of the DECENT Content for your personal, non-commercial use. This license is subject to the Terms and does not include any right to:</li>
        <li>
            <ul>
                <li>(a) publicly display, present or otherwise distribute any preview of the DECENT Content;</li>
                <li>(b) make any derivative uses or modifications of previews of DECENT Content or any parts thereof;</li>
                <li>(c) use any data gathering or extraction methods (such as data mining or robots); and</li>
                <li>(d) use the Services or DECENT Content other than for their intended purposes. Any use of the Services or use of previews of the DECENT Content which is not authorized in the Terms is strictly prohibited and will cause termination of the license granted herein.</li>
            </ul>
        </li>
        <li>2.3 The license herein granted is revocable at any time and at our sole discretion.</li>
    </ul>
    <h3>3 INTELLECTUAL PROPERTY RIGHTS</h3>
    <ul>
        <li>3.1 All our trademarks, service marks, trade names, logos, domain names, and any other features of the DECENT brand (“DECENT Brand Features”) are our sole property or our licensors. This agreement does not grant you any rights to use any DECENT Brand Features whether for commercial or non-commercial use. You may not use any metatags or other “hidden text” utilizing DECENT GO or any other DECENT Brand Features without our prior written permission.</li>
        <li>3.2 All other trademarks, registered trademarks, product names and company names or logos mentioned or used on DECENT GO or DECENT Content are the property of their respective owners and may not be copied, imitated or used, in whole or in part, without the permission of the applicable trademark holder. Reference to any products, services, processes or other information by name, trademark, manufacturer, supplier or otherwise does not constitute or imply endorsement, sponsorship or recommendation by us.</li>
    </ul>
    <h3>4 INAPPROPRIATE ADULT CONTENT</h3>
    <ul>
        <li>4.1 Either some previews of the DECENT Content as well as some DECENT Content may discuss or depict adult-oriented topics. We realize that this content may not be appropriate or desirable for some users depending on their current location, age, background or personal views. Every time users upload any content to, they are obliged to mark any such content as Inappropriate Adult Content (“IAC”).</li>
        <li>4.2 Marking DECENT Content as IAC does not prevent you from being able to access this content. Nevertheless, this feature is designed to help users make informed decisions about the type of content viewed on DECENT GO or other Services. You understand and agree that you access content marked as IAC at your own risk.</li>
    </ul>
    <h3>5 ASSUMPTION OF RISK AND LIMITATIONS ON LIABILITY</h3>
    <ul>
        <li>5.1 You accept and acknowledge that there are following risks associated with utilizing the Services including:</li>
        <li>
            <ul>
                <li>(a) failure of hardware, software and Internet connections;</li>
                <li>(b) regulatory actions in one or more jurisdictions;</li>
                <li>(c) that third parties may obtain unauthorized access to information stored within your User Account, including your Unique ID and Private Key (both as defined below in 8.1);</li>
                <li>(d) insufficient interest in the DECENT blockchain project;</li>
                <li>(e) malicious software, weaknesses or bugs introduction into the infrastructural elements of the Services;</li>
                <li>(f) attack of miners on DCT (such as double-spend attacks, majority mining power attacks, „selfish-mining“ attacks or race condition attacks);</li>
                <li>(g) destabilization due to a dramatically increased demand;</li>
                <li>(h) slowing the transaction process time due to insufficient mining computation resources;</li>
                <li>(i) temporary network incoherence.</li>
            </ul>
        </li>
        <li>5.2 You accept and acknowledge that we will not be responsible for any communication failures, disruptions, errors, distortions or delays you may experience when using the Services, however caused.</li>
        <li>5.3 We will use reasonable endeavors to verify the accuracy of any information on DECENT GO, but we make no representation or warranty of any kind regarding the DECENT Content, previews of such content or any Services, information and functions made accessible through the Services, any hyperlinks to third party websites, nor for any breach of security associated with the transmission of information through the Services or any website linked to by DECENT GO.</li>
        <li>5.4 We will not be responsible or liable to you for any loss and take no responsibility for and will not be liable to you for any use of the Services or DECENT Content, including any losses, damages or claims arising from:</li>
        <li>
            <ul>
                <li>(a) user error such as forgotten passwords, incorrectly constructed transactions, or mistyped Unique IDs;</li>
                <li>(b) blockchain failure or data loss;</li>
                <li>(c) corrupted account files;</li>
                <li>(d) unauthorized access to applications;</li>
                <li>(e) any unauthorized third party activities, including without limitation the use of viruses, phishing, bruteforcing or other means of attack against the Services;</li>
                <li>(f) accessing the IAC.</li>
                <li>5.5 To the fullest extent permitted by applicable law, the Services and DECENT Content are provided on an “as is” and “as available” basis, without warranties of any kind. We do not represent or warrant that the Services:</li>
                <li>(a) will be secure or available at any particular time or location;</li>
                <li>(b) are accurate, complete, reliable, current or error-free or that any defects or errors will be corrected; and</li>
                <li>(c) are free of viruses or other harmful components.</li>
            </ul>
        </li>
        <li>5.6 You expressly acknowledge and agree that you are using the Services, DECENT GO and DECENT Content at your sole risk. You hereby represent that you have an adequate understanding of the risks, usages and intricacies of cryptographic tokens and blockchain-based open source software.</li>
        <li>5.7 You acknowledge and agree that, to the fullest extent permitted by any applicable law, you will not hold third parties or individuals associated with DECENT GO liable for any and all damages or injury whatsoever caused by or related to use of, or inability to use the Services under any cause or action whatsoever of any kind in any jurisdiction, and that none of the third parties or individuals associated with the DECENT GO shall be liable for any damages in any way whatsoever arising out of the use of or the inability to use the Services.</li>
    </ul>
    <h3>6 INDEMNIFICATION</h3>
    <ul>
        <li>6.1 You agree to indemnify and hold us harmless and our contractors, licensors, their respective directors, officers, employees and agents as well as the creators DECENT GO from and against any and all claims, actions, damages, losses, costs or expenses, including legal fees, arising out or relating to your use of the Services, including your violation of the Terms.</li>
    </ul>
    <h3>7 THIRD PARTY CONTENT</h3>
    <ul>
        <li>7.1 In using the Services, you may view content or utilize services provided by third parties, including links to web pages and services of such parties (“Third Party Content”).</li>
        <li>7.2 We do not control, endorse or adopt any Third Party Content and will have no responsibility for Third Party Content including material that may be misleading, incomplete, erroneous, offensive, indecent, published without proper authorization or otherwise objectionable or illegal in your jurisdiction. In addition, your dealings or correspondence with such third parties are solely between you and the third parties. We are not responsible or liable for any loss or damage of any sort incurred as a result of any such dealings and you understand that your use of Third Party Content, and your interactions with third parties, is solely at your own risk. You are responsible for taking precautions as necessary to protect yourself and your computer systems from viruses, worms, Trojan horses, and other harmful or destructive content.</li>
    </ul>
    <h3>8 USER ACCOUNT</h3>
    <ul>
        <li>8.1 DECENT GO and the Services might not necessarily be the sole user interface providing for search functionality for the DECENT Content. If you wish to use the Services, you must create a user account with DECENT GO (“User Account”). When you create a User Account, DECENT GO generates and stores a cryptographic unique ID attributable to the respective User Account (“Unique ID”) and private key pair that you may use to send and receive purchased content and DCT via the blockchain network (“Private Key”). The Private Key uniquely matches the Unique ID and must be used in connection with the User Account to authorize the transactions and transfer of DCT from that User Account.</li>
        <li>8.2 When you create a new User Account, you are strongly advised to take the following precautions, as failure to do so may result in loss of access to or control over, your wallet:</li>
        <li>
            <ul>
                <li>(a) create a strong password (not used for any other website or online service and which you are solely responsible for remembering);</li>
                <li>(b) provide accurate and truthful information and promptly update this information;</li>
                <li>(c) maintain the security of your User Account by protecting your User Account password, Unique ID, Private Key and any other security phrases as well as access to your computer and your User Account;</li>
                <li>(d) promptly notify us if you discover or otherwise suspect any security breaches related to your User Account or unauthorized accounts.</li>
            </ul>
        </li>
        <li>8.3 You hereby accept and acknowledge that you take responsibility for all activities that occur under your User Account and accept all risks of any authorized or unauthorized access to your User Account, to the maximum extent permitted by law.</li>
        <li>8.4 In order to mitigate the risk of loss of your log in details you can either add a password hint, which should serve as a reminder in case of you forget your log-in password or generate a recovery phrase containing 16 words in a specific order.</li>
        <li>8.5 If you have not safely stored a backup of any User Account, Unique ID, Private Key, password or other security phrases, you accept and acknowledge that any purchased content or DCT you have associated with such User Account may become inaccessible.</li>
    </ul>
    <h3>9 AUTHOR PROFILE</h3>
    <ul>
        <li>9.1 In order to upload content via DECENT GO you must create your personal Author Profile. By creating the Author Profile you are aware that information you provide might be visible to all users of DECENT GO as well as to other users registered through user interfaces other than DECENT GO.</li>
        <li>9.2 By creating your Author Profile you acknowledge that you are aware that any identity theft is illegal. We shall bear no responsibility nor we shall be held liable for any identity breach or identity theft and you hereby represent to reimburse any costs that might incur us in relation to any such illegal behavior from your side.</li>
        <li>9.3 You hereby represent and warrant that you have all rights required for publishing the content you wish to upload. The platform has been designed to facilitate solely legal transfers of content. You hereby represent to abide by this purpose. In case of breach of this obligation we have among other the following rights:</li>
        <ul>
            <li>(a) block all DECENT Content uploaded by you, your right to publish any content or access to your User Account;</li>
            <li>(b) erase your User Account;</li>
            <li>(c) claim any damages incurred to us including damages on the reputation.</li>
        </ul>
    </ul>
    <h3>10 TRANSACTIONS</h3>
    <ul>
        <li>10.1 In order to be completed, all proposed transactions must be confirmed and recorded in the public ledger, which is not owned, controlled or operated by us. The public ledger is operated by a decentralized network of independent third parties. We have no control over it and therefore cannot and do not ensure that any transaction details you submit via the Services will be confirmed. You acknowledge and agree that the transaction details you submit via the Services may not be completed, or may be substantially delayed by the decentralized platform.</li>
        <li>10.2 DCT is an intangible digital asset which exist only by virtue of the ownership record maintained in the public ledger. The Services do not store, send or receive DCT. Any transfer of title occurs on the decentralized ledger and not within the Services.</li>
        <li>10.3 You accept and acknowledge that we are not responsible for any errors or omissions that you make in connection with any transaction initiated via the Services, for instance, if you mistype a Unique ID or otherwise provide incorrect information. We strongly encourage you to review your transaction details carefully before completing them via the Services.</li>
    </ul>
    <h3>11 TAXES</h3>
    <ul>
        <li>11.1 It is your responsibility to determine what, if any, taxes apply to the transactions you for which you have submitted transaction details via the Services, and it is your responsibility to report and remit the correct tax to the appropriate tax authority. You agree that we are not responsible for determining whether taxes apply to your transactions or for collecting, reporting, withholding or remitting any taxes arising from any transactions.</li>
    </ul>
    <h3>12 FEES</h3>
    <ul>
        <li>12.1 We do not currently charge fees for any Services, however we reserve the right to do so in future, and in such case any applicable fees will be displayed prior to you using any services to which a fee applies.</li>
    </ul>
    <h3>13 CANCELLING OR REVERSING TRANSACTIONS</h3>
    <ul>
        <li>13.1 If you use a Services to which DCT is transacted, you will not be able to change your mind once you have confirmed that you wish to proceed with the transaction. Once transaction details have been submitted via Services, the Services cannot assist you to cancel or otherwise modify your transaction details. We have no control over the public ledger and do not have the ability to facilitate any cancellation or modification requests.</li>
    </ul>
    <h3>14 INTERRUPTION, MODIFICATION AND DISCONTINUATION OF SERVICES</h3>
    <ul>
        <li>14.1 We will make reasonable efforts to keep the Services operational. From time to time certain technical difficulties or maintenance may result in temporary interruptions. To the extent permissible under applicable law, we reserve the right, periodically and at any time, to modify or discontinue, temporarily or permanently, functions and features of the Services, with or without notice, all without liability to you, except where prohibited by law, for any interruption, modification, or discontinuation of the Services or any function or feature thereof. You understand, agree, and accept that we have no obligation to maintain, support, upgrade, or update the Services, or to provide all or any specific content through the Service.</li>
        <li>14.2 You are solely responsible for storing, outside of the Services, a backup of any Unique ID and Private Key pair that you maintain in your wallet.</li>
        <li>14.3 If you do not maintain a backup of your User Account data outside of the Services, you may not be able to access your DCT associated with your Unique ID in the event that we discontinue or deprecate the Services.</li>
    </ul>
    <h3>15 MODIFICATIONS, SUSPENSION OR TERMINATION OF ACCESS</h3>
    <ul>
        <li>15.1 We may suspend or terminate your access to the Services in our sole discretion, immediately and without prior notice, and delete or deactivate your User Account and all related information and files in such without cost to you, including, for instance, in the event that you breach any term of the Terms. In the event of termination, your access to funds will depend on your access to your backup of your User Account data including your Unique ID and Private Keys.</li>
    </ul>
    <h3>16 USER CONDUCT</h3>
    <ul>
        <li>16.1 When accessing or using the Services, you agree that you will not commit any unlawful act, and that you are solely responsible for your conduct while using the Services.</li>
        <li>16.2 You promise that, with respect to any content you post or otherwise make available, you have the right to post such content and such content, or its use does not violate the Terms, applicable law or the intellectual property (including copyright), personality or other rights of others or imply any affiliation with or endorsement of you or your content or any entity or individual without express written consent from such individual or entity. By making DECENT Content available, you represent and warrant that:</li>
        <li>
            <ul>
                <li>(a) the downloading, copying and use of this content will not infringe the proprietary rights, including copyright, patent, trademark or trade secret rights, of any third party;</li>
                <li>(b) if your employer has rights to intellectual property you create, you have either (i) received permission from your employer to post or make available this content, including any software, or (ii) secured from your employer a waiver as to all rights in or to this content;</li>
                <li>(c) you have fully complied with any third-party licenses relating to this content, and have done all things necessary to successfully pass through to end users any required terms;</li>
                <li>(d) this content does not contain or install any viruses, worms, malware, Trojan horses or other harmful or destructive content;</li>
                <li>(e) this content is not spam, is not machine- or randomly-generated, and does not contain unethical or unwanted commercial content designed to drive traffic to third party sites or boost the search engine rankings of third party sites, or to further unlawful acts (such as phishing) or mislead recipients as to the source of the material (such as spoofing);</li>
                <li>(f) this content does not constitute a child pornography, does not contain threats or incite violence, does not contain hateful, defamatory, or discriminatory content , does not incite hatred against any individual or group, is not against humanity and does not violate the privacy or publicity rights of any third party;</li>
                <li>(g) does not exploit minors, depict unlawful acts or extreme violence, promote fraudulent or dubious business schemes or violate any law;</li>
                <li>(h) your content is not getting advertised via unwanted electronic messages such as spam links on newsgroups, email lists, blogs and web sites, and similar unsolicited promotional methods; and</li>
                <li>(i) your content is not named in a manner that misleads the Services’ users mainly into thinking that you are another person or company.</li>
            </ul>
        </li>
        <li>16.3 We reserve the right to disable access to any user content for any reason, including user content that violates the Terms. We are not responsible for user content nor do we endorse any opinion contained in it.</li>
        <li>16.4 Without limiting the generality of the foregoing, you agree that you will not:</li>
        <li>
            <ul>
                <li>(a) use the Services in any manner that could interfere with, disrupt, negatively affect or inhibit other users from fully enjoying the Services, or that could damage, disable, overburden or impair the functioning of the Services in any manner;</li>
                <li>(b) use the Services to pay for, support or otherwise engage in any illegal activities, including illegal gambling, fraud, money-laundering, or terrorist activities;</li>
                <li>(c) use any robot, spider, crawler, scraper or other automated means or interface not provided by us to access the Services or to extract data;</li>
                <li>(d) use or attempt to use another user’s wallet without authorization;</li>
                <li>(e) attempt to circumvent any content filtering techniques we employ, or attempt to access any service or area of the Services that you are not authorized to access;</li>
                <li>(f) introduce to the Services any virus, Trojan, worms, logic bombs or other harmful material;</li>
                <li>(g) provide false, inaccurate, or misleading information (also when naming the content you want to post); or</li>
                <li>(h) encourage or induce any third party to engage in any of the activities prohibited under this Section.</li>
            </ul>
        </li>
    </ul>
    <h3>17 FEEDBACKS</h3>
    <ul>
        <li>17.1 For every DECENT Content you access via the Services you may leave your feedback. The overall rating might serve as a guidance for other users and may influence also the sequence of the search results displayed in the Services.</li>
        <li>17.2 You acknowledge and agree that this feedback is non-confidential and will our sole property and we shall own exclusive rights, including, all intellectual property rights, in and to such feedback and will be entitled to the unrestricted use and dissemination of this feedback for any purpose, without acknowledgment or compensation to you. You agree to execute any documentation required by us to confirm such assignment to us.</li>
    </ul>
    <h3>18 INFRINGEMENT AND REPORTING OF INFRINGING CONTENT</h3>
    <ul>
        <li>18.1 We respect the intellectual property rights of intellectual property owners. If we are notified by a copyright holder that any content infringes a copyright, we may in our absolute discretion take actions without prior notification to the provider of that content. If the provider believes that the content is not infringing, the provider may submit a counter-notification to us with a request to restore the removed content.</li>
        <li>18.2 We deal with copyright infringement in accordance with the Digital Millennium Copyright Act.</li>
        <li>18.3 If you believe content residing or accessible on DECENT GO infringes a copyright, you may notify us by contacting our Designated Agent at the address below. Your notice should contain:</li>
        <li>
            <ul>
                <li>(a) Your name and a way to contact you (such as your address, telephone number and/or e-mail address);</li>
                <li>(b) A description of the copyrighted work that you claim has been infringed and description where the material may be found ;</li>
                <li>(c) A statement that you have a good faith belief that the use of the copyrighted work is not authorized by the copyright owner, its agent or the law;</li>
                <li>(d) A statement that the information in your notice is accurate and, under penalty of perjury, that you are the copyright owner or authorized to act on the copyright owner´s behalf; and</li>
                <li>(e) A physical or electronic signature of a person authorized to act on behalf of the owner of the copyright that has been allegedly infringed.</li>
            </ul>
        </li>
        <li>In filing a notice as defined above, please make sure that you have complied with all of the above requirements.</li>
        <li>18.4 After removing material pursuant to a valid DMCA notice, we will notify the user responsible for the allegedly infringing material that we have removed or disabled access to the material.</li>
        <li>18.5 We reserve the right, in our sole discretion, to terminate the account of any user who is the subject of repeated DMCA notifications.</li>
        <li>18.6 You should not file false reports. In such a case, you are liable for any damages caused to the original right holder of the reported content as well as any damages caused to us or any third party.</li>
        <li>18.7 If you believe you are the wrongful subject of a DMCA notification, you may file a counter-notification with our Designated Agent (at the address below). Your counter-notification must contain:</li>
        <li>
            <ul>
                <li>(a) An identification of the removed material;</li>
                <li>(b) The location at which the material appeared before it was removed;</li>
                <li>(c) The following statement: “I swear under penalty of perjury that I have a good faith belief that the material was removed or disabled as a result of mistake or misidentification”;</li>
                <li>(d) A statement that you consent to the jurisdiction of the Federal District Court for the judicial district in which your address is located (or the federal district courts located in the City and County of San Francisco, California if your address is outside of the United States), and that you will accept service of process from the person who provided the original DMCA notification or an agent of such person; and</li>
                <li>(e) Your electronic or physical signature.</li>
            </ul>
        </li>
        <li>18.8 Upon receipt of a valid counter-notification, we will forward it to the notifying party who submitted the original DMCA notification. The original notifying party (or the copyright holder he or she represents) will then have ten (10) days to notify us that he or she has filed legal action relating to the allegedly infringing material. If we do not receive notification within ten (10) days, we may restore the material.</li>
        <li>18.9 DECENT GO’s Designated Agent is available at:</li>
        <li>
            <ul>
                <li>DECENT Go, a.s.</li>
                <li>Rajská 15, 811 08 Bratislava, the Slovak Republic</li>
                <li>Attn: Copyright Agent</li>
                <li>Email: notify@decentgo.com</li>
            </ul>
        </li>
    </ul>
    <h3>19 RELATIONSHIP</h3>
    <ul>
        <li>19.1 Nothing in the Terms is intended to nor shall create any partnership, joint venture, agency, consultancy or trusteeship. We and you are with respect to one another independent contractors.</li>
    </ul>
    <h3>20 DISPUTE RESOLUTION</h3>
    <ul>
        <li>20.1. You and we adhere to have any and all disputes or claims arising from the Terms or use of the Services (collectively, “Disputes“) resolved by general courts of the Slovak Republic.</li>
        <li>20.2. You and we agree that you will notify each other in writing of any Dispute within thirty (30) days of when it arises so that the parties can attempt, in good faith, to resolve the Dispute informally. Notice to us shall be provided by sending an email to notify@decentgo.com. Your notice must include your name, postal address and email address, a description of the nature or basis of the Dispute and the specific relief that you are seeking.</li>
    </ul>
    <h3>21 APPLICABLE LAW AND VENUE</h3>
    <ul>
        <li>21.1. The Terms and your access to and use of the Services will be governed by, and construed in accordance with, the laws of the Slovak Republic, without resort to its conflict of law provisions. You agree that any action at law or in equity arising out of, or relating to, the Terms or use of the Services shall be filed only in the general courts located in the Slovak Republic and you hereby irrevocably and unconditionally consent and submit to the exclusive jurisdiction of such courts over any suit, action or proceeding arising out of the Terms.</li>
    </ul>
    <h3>22 TERM AND TERMINATION</h3>
    <ul>
        <li>22.1. We reserve the right, without notice and in our sole discretion, at any time, including in the event of your actual or suspected unauthorized use of the Services or any content, or non-compliance with the Terms to terminate your license to access and use of the Services and to block or prevent your future access to, and use of the Services. If you or we terminate this agreement, or if we suspend your access to the Services, you agree that we shall have no liability or responsibility to you and we will not refund any amounts that you have already paid, to the fullest extent permitted under applicable law.</li>
    </ul>
    <h3>23 SEVERABILITY</h3>
    <ul>
        <li>23.1. If any part of the Terms is deemed to be unlawful, void or unenforceable, then that part shall be deemed severable from the Terms and shall not affect the validity and enforceability of any remaining provisions of the Terms. To avoid any doubts, all waivers set forth in this Terms are severable from the other provisions of the Terms and will remain valid and enforceable, except as prohibited by applicable law.</li>
    </ul>
    <h3>24 QUESTIONS & CONTACT INFORMATION</h3>
    <ul>
        <li>24.1. Questions or comments about the Services may be submitted via a ticket on https://decent.ladesk.com/submit_ticket.</li>
    </ul>
</div>
