<h1 class="inner-main-title">Password Hint</h1>
<h2>Create a password hint as a reminder in case you forget your password</h2>
<h3>Recommended for those who are confident they will not need a Recovery Phrase but still
    want a helpful reminder in case they forget their account password.
</h3>
<md-input-container>
    <input mdInput placeholder="Example: My favorite beach" type="text" name="text" [(ngModel)]="hint"/>
</md-input-container>
<button type="submit" md-raised-button color="primary" class="cta-green" (click)="saveHint()">save
</button>
<div class="link"><a routerLink="../wait">Skip this step</a></div>
<div class="text caption note">NOT RECOMMENDED…. But if you are extremely confident in your ability to
    remember your account password then you may proceed without this security setting
</div>
