.wallet {
  font-family: "Open Sans", sans-serif; }

.wallet .wallet-address, .wallet .encrypted-alternate {
  margin-bottom: 10px; }

.wallet .wallet-address h2, .wallet .wallet-address h3, .wallet .encrypted-alternate h2, .wallet .encrypted-alternate h3 {
  margin: 0; }

.wallet .wallet-address h3, .wallet .encrypted-alternate h3 {
  font-weight: 400; }

.wallet .encrypted-alternate {
  margin-bottom: 35px; }

.wallet .current-balanse {
  margin-bottom: 40px; }

.wallet .cta-green {
  min-width: 200px !important;
  text-align: left;
  margin-bottom: 50px; }

.wallet .transactions ul li {
  padding: 16px 0 16px 10px;
  border-top: 1px solid #EBEDF1; }

.wallet .transactions ul li span {
  display: block;
  font-weight: 400; }

.wallet .transactions ul li div:last-of-type {
  text-align: right; }

.wallet .transactions ul li div:first-of-type {
  text-transform: uppercase; }

.wallet .transactions .empty {
  padding-top: 16px;
  font-size: 12px;
  border-top: 1px solid #EBEDF1;
  color: #7F8A9E;
  padding-left: 10px; }

.transaction-memo {
  font-size: 12px;
  font-weight: normal; }

@media only screen and (max-width: 480px) {
  .wallet {
    padding: 0; }
  width: 70px;
  overflow: hidden;
  text-overflow: ellipsis;
  /* height: 16px; */
  display: inline-block;
  white-space: nowrap; }
