<div class="add-item-3-3">
    <h1>Add New Item 3/3</h1>
    <div class="active-color">Seeding</div>
    <div class="block-1" fxLayout="row" fxLayoutGap="30px" fxLayoutWrap fxLayout.xs="column" fxLayoutGap.xs="10px">
        <div fxFlex="50">
            <md-select placeholder="Number of Seeders (min2)">
                <md-option>
                    <!--{{// food.viewValue}}-->
                </md-option>
            </md-select>
            <h2>Price: 12,50 USD / 11 DCT</h2>
        </div>
        <div fxFlex="50">
            <h3>Text that will explain how seeding works and how price will be reflected by number of seeder etc.</h3>
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="end start" class="publish" fxLayout.xs="row" fxLayoutGap="20px">
        <button class="cta-grey" fxFlex="135px" fxFlex.xs="50%"  type="submit" md-raised-button color="accent">cancel</button>
        <button class="cta-green" fxFlex="135px" fxFlex.xs="50%"  type="submit" md-raised-button color="primary">publish</button>
    </div>
</div>
