<h1 class="inner-main-title">Password Hint</h1>
<h2>Your password hint is:</h2>
<div class="hint">{{passwordHint}}</div>
<form novalidate (ngSubmit)="login()" [formGroup]="hintForm">
    <md-input-container>
        <input mdInput placeholder="Password" type="password" name="password" formControlName="password" required/>
    </md-input-container>
    <div *ngIf="accountError" class="validation-message">
        <h3 class="error-message">{{accountError}}</h3>
    </div>
    <button class="cta-green" type="submit" md-raised-button color="primary" [disabled]="!hintForm.valid">LOGIN
    </button>
</form>
