<h1>Consent with Personal Data Processing</h1>
<div class="text">
    <p>I hereby acknowledge and consent that DECENT Go, a.s. (“DECENT GO”), may collect, use, disclose or otherwise process my personal data as defined below (“the Personal Data”):</p>
    <ul>
        <li>- Cookies;</li>
        <li>- Name, description/BIO, photo, address, country, mobile phone number, Facebook, Instagram, YouTube URL;</li>
        <li>- Log and Usage Data (information about services used, protocols, localization data, unique application numbers, IP address, online identifiers, unique device identifiers, user-agent string, browser type, operating system, referral URLs, device information (e.g., device IDs)); and</li>
        <li>- Pages visited, links clicked, user interactions (e.g., voting data), the requested URL, hardware settings, and search terms).</li>
    </ul>
    <p>I acknowledge that the Personal Data will be processed for following purposes:</p>
    <ul>
        <li>- Developing new products and services, and analyse user’s use of DECENT GO’s services, including interaction with applications and services that are made available, linked to, or offered through DECENT GO’s services;</li>
        <li>- To provide, personalise, and improve experience of users with DECENT GO’s services, for example by providing customised, personalised, or localised content, recommendations, features, and advertising, maintain, and improve the services;</li>
        <li>- To help protect the safe use of DECENT GO’s services and the safety of its users, which includes, collecting of users’ ratings, restricting or limiting the access of suspected spammers and blocking of suspicious/inappropriate/illegal/defamatory content, addressing abuse, and enforcing our the DECENT GO’s Terms of Use;</li>
        <li>- To send technical notices, updates, security alerts, invoices and other support and administrative messages to users;</li>
        <li>- To provide customer service;</li>
        <li>- To communicate with users about products, services, offers, promotions, and events, and provide other news and information DECENT GO thinks will be of interest to users;</li>
        <li>- To monitor and analyze trends, usage, and activities in connection with the services;</li>
        <li>- To personalize the services and provide advertisements, content and features that match user profiles or interests;</li>
        <li>- As stated otherwise in DECENT GO’s Privacy Notice available at [Link to a Privacy Notice] (“the Privacy Notice”).</li>
    </ul>
    <p>I acknowledge that the provision of the Personal Data is voluntary and that my consent with their processing is freely given. This consent is granted for a definite period of time of 3 years, unless withdrawn earlier. </p>
    <p>DECENT GO may use various third parties and analytical tools in order to be able to provide additional improved experience of users. For more information, please refer to the Privacy Notice. </p>
    <p>I acknowledge that I was provided with the information about my rights, namely right to request the access and rectification or erasure of my Personal Data or restriction of processing or to object to processing as well as the right to data portability. Further, I have a right to lodge a complaint with a respective supervisory authority. For more information, please refer to the Privacy Notice. </p>
    <p>This consent may be withdrawn at any time without stating a reason. </p>
</div>
