@import "../../../assets/variable";

.warning-delete {
    h2 {
        margin-bottom: 40px;
    }
    .cta-green {
        margin-right: 30px;
    }
    .delete {
        margin-bottom: 50px;
    }
}
