<div class="warning-delete">
    <h1>Hold! Really Want to delete?</h1>
    <h2>If you click delete, there are no way back ever again, we just wanted to make sure you knew.</h2>
    <div class="delete" fxLayout="row" fxLayoutAlign="start center" fxLayoutAlign.xs="start start" fxLayoutWrap.xs fxLayoutGap.xs="20px" fxLayout.xs="column">
        <button class="cta-green" type="submit" md-raised-button color="primary">Delete</button>
        <div class="link"><a href="">No no no! Don’t delete this item</a></div>
    </div>
</div>
