<div class="my-uploads">
    <h1>My Uploads</h1>
    <button class="cta-green" type="submit" md-raised-button color="primary"><i class="icon-upload"></i>Add new item</button>

    <!--comment aracy haytnvuma en pahin erb file uploadi ereq stepery ancnuma-->

    <!--<div class="loader">-->
    <!--<h3>Status: <span>Uploading</span></h3>-->
    <!--<md-progress-bar mode="indeterminate"></md-progress-bar>-->
    <!--<div fxLayout="row">-->
    <!--<div fxFlex="16.666"><h3>apr<span>13</span></h3></div>-->
    <!--<div fxFlex="58.333" fxFlex.sm="43.333" fxFlex.xs="66.666" class="purchase-name">-->
    <!--<h3>Black and White Photography<span>Music</span></h3>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <ul>
        <li fxLayout="row">
            <div fxFlex="16.666"><h3>apr<span>28</span></h3></div>
            <div fxFlex="58.333" fxFlex.sm="43.333" fxFlex.xs="66.666" class="purchase-name"><h3><a href="">FKA Twigs</a><span>Music</span></h3></div>
            <div fxFlex="24.999" fxFlex.sm="40" fxFlex.xs="16.666">
                <ul fxLayout="row" fxLayoutAlign="end start">
                    <li class="edit"><h3><i class="icon-pen"></i><a href="">Edit</a></h3></li>
                    <li class="delete"><h3><a href="">Delete</a></h3></li>
                </ul>
            </div>
        </li>
        <li fxLayout="row">
            <div fxFlex="16.666"><h3>apr<span>13</span></h3></div>
            <div fxFlex="58.333" fxFlex.sm="43.333" fxFlex.xs="66.666" class="purchase-name"><h3><a href="">Black and White Photography</a><span class="minus">Ebook</span></h3></div>
            <div fxFlex="24.999" fxFlex.sm="40" fxFlex.xs="16.666">
                <ul fxLayout="row" fxLayoutAlign="end start">
                    <li class="edit"><h3><i class="icon-pen"></i><a href="">Edit</a></h3></li>
                    <li class="delete"><h3><a href="">Delete</a></h3></li>
                </ul>
            </div>
        </li>
        <li fxLayout="row">
            <div fxFlex="16.666"><h3>FEB<span>25</span></h3></div>
            <div fxFlex="58.333" fxFlex.sm="43.333" fxFlex.xs="66.666" class="purchase-name"><h3><a href="">Guardians of the Galaxy</a><span class="plus">Movie</span></h3></div>
            <div fxFlex="24.999" fxFlex.sm="40" fxFlex.xs="16.666">
                <ul fxLayout="row" fxLayoutAlign="end start">
                    <li class="edit"><h3><i class="icon-pen"></i><a href="">Edit</a></h3></li>
                    <li class="delete"><h3><a href="">Delete</a></h3></li>
                </ul>
            </div>
        </li>
        <li fxLayout="row">
            <div fxFlex="16.666"><h3>JAN<span>12</span></h3></div>
            <div fxFlex="58.333" fxFlex.sm="43.333" fxFlex.xs="66.666" class="purchase-name"><h3><a href="">EXCEL Book</a><span class="plus">Document</span></h3></div>
            <div fxFlex="24.999" fxFlex.sm="40" fxFlex.xs="16.666">
                <ul fxLayout="row" fxLayoutAlign="end start">
                    <li class="edit"><h3><i class="icon-pen"></i><a href="">Edit</a></h3></li>
                    <li class="delete"><h3><a href="">Delete</a></h3></li>
                </ul>
            </div>
        </li>
    </ul>
    <div class="empty" *ngIf="">No purchases yet</div>
    <h3 class="message"><i class="icon-warning"></i>
        <div>If you want to change Number of Seeders / Price, you have to upload your Item again</div>
    </h3>
</div>
