.body {
  margin-top: 65px;
  margin-bottom: 15px; }

aside .menu {
  margin-top: 60px;
  padding-left: 15px; }

aside .menu ul {
  font-family: "Open Sans", sans-serif; }

aside .menu ul:first-of-type {
  padding-bottom: 20px; }

aside .menu ul:last-of-type {
  border-top: 1px solid #EBEDF1;
  padding-top: 20px; }

aside .menu ul:first-child:nth-last-child(1) {
  border-top: none;
  padding-top: 0; }

aside .menu ul li {
  color: #7F8A9E;
  margin-bottom: 20px;
  transition: .3s;
  font-size: 15px; }

aside .menu ul li.disabled {
  background: none !important; }

aside .menu ul li.disabled a {
  color: #B8C0CF !important;
  cursor: default; }

aside .menu ul li.disabled a i {
  color: #B8C0CF !important; }

aside .menu ul li:last-of-type {
  margin-bottom: 0; }

aside .menu ul li:hover {
  background: rgba(47, 237, 147, 0.25); }

aside .menu ul li:hover a {
  color: #4A4A4A; }

aside .menu ul li a {
  padding: 8px 12px;
  width: 100%;
  display: inline-block;
  color: #7F8A9E;
  transition: .3s; }

aside .menu ul li a i {
  color: #3378E1; }

aside .menu ul li a i:last-of-type {
  display: none; }

aside .menu ul li.selected {
  background: rgba(47, 237, 147, 0.25);
  font-weight: 700;
  color: #4A4A4A; }

aside .menu ul li.selected a {
  color: #4A4A4A; }

aside .menu ul [class^="icon-"] {
  margin-right: 15px; }

main {
  padding-left: 30px;
  padding-top: 60px;
  border-left: 1px solid #EBEDF1; }

main.profile {
  min-height: calc(100vh - 320px); }

@media only screen and (max-width: 600px) {
  .body {
    margin-top: 40px; }
  aside {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #F6F7FB;
    z-index: 1;
    height: 75vh;
    overflow: hidden; }
  aside .menu {
    margin-top: 0;
    padding-top: 35px;
    padding-left: 25px;
    padding-right: 25px; }
  aside .menu ul {
    background: #fff;
    border: 1px solid #EBEDF1; }
  aside .menu ul li {
    margin: 0;
    border-bottom: 1px solid #EBEDF1; }
  aside .menu ul li:last-of-type {
    border: none; }
  aside .menu ul li a {
    padding: 20px; }
  aside .menu ul li a i:last-of-type {
    display: block;
    float: right;
    margin: 0;
    color: #B8C0CF; }
  aside .menu ul li.selected {
    background: none;
    font-weight: 400;
    color: #7F8A9E; }
  aside .menu ul li.selected a {
    color: #7F8A9E; }
  aside .menu ul:first-of-type {
    padding: 0;
    margin-bottom: 25px; }
  aside .menu ul:last-of-type {
    padding: 0; }
  main {
    margin-top: 30px;
    border: none;
    padding: 0; } }
