<footer>
    <div class="main-grid">
        <div fxLayout="row">
            <div fxFlexOffset.sm="4.1665" fxFlex.sm="91.667" fxFlexOffset.xs="8.333" fxFlex.xs="83.333" fxLayoutWrap fxLayoutAlign="space-between start">
                <div>
                    <div class="about">
                        <div class="title">About US</div>
                        <ul>
                            <li><a routerLink="/static-pages/terms-of-use">Terms of Use</a></li>
                            <li><a routerLink="/static-pages/privacy-policy">Privacy</a></li>
                            <li><a routerLink="/static-pages/cookies-policy">Cookies</a></li>
                            <li><a routerLink="/static-pages/dmca">DMCA</a></li>
                            <li><a href="https://decent.ladesk.com" target="_blank">Wiki</a></li>
                        </ul>
                    </div>
                    <div class="contacts">
                        <div class="title">Contact</div>
                        <ul>
                            <li>DECENT GO a.s.
                                Rajská 15
                                811 01 Bratislava
                                Slovakia
                            </li>
                            <li><a href="https://decent.ladesk.com/submit_ticket" target="_blank">Submit ticket</a></li>
                        </ul>
                    </div>
                </div>
                <div class="copyright">Powered by <a href="https://decent.ch/" target="_blank">DECENT</a></div>
                <!--<ul class="leng">-->
                <!--<li>-->
                <!--<a href="">English (US)</a>-->
                <!--</li>-->
                <!--<li>-->
                <!--<a href="">Slovenčina</a>-->
                <!--</li>-->
                <!--<li>-->
                <!--<a href="">Čeština</a>-->
                <!--</li>-->
                <!--<li>-->
                <!--<a href="">Magyar</a>-->
                <!--</li>-->
                <!--<li>-->
                <!--<a href="">Deutsch</a>-->
                <!--</li>-->
                <!--<li>-->
                <!--<a href="">Français</a>-->
                <!--</li>-->
                <!--</ul>-->
            </div>
        </div>
    </div>
</footer>
