footer {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  color: #7F8A9E;
  border-top: 1px solid #EBEDF1; }

footer .main-grid > div > div {
  padding: 30px 0 60px; }

footer .title {
  color: #384E74;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 20px;
  font-weight: 700; }

footer ul {
  display: inline-block; }

footer ul li {
  margin-bottom: 6px; }

footer ul li a {
  color: #7F8A9E; }

footer ul li a:hover {
  text-decoration: underline; }

footer .about, footer .contacts {
  display: inline-block;
  vertical-align: top;
  max-width: 80px; }

footer .about {
  margin-right: 80px; }

footer .contacts li {
  margin-bottom: 13px; }

footer .contacts li:last-of-type {
  margin: 0; }

footer .copyright {
  color: #384E74;
  margin-bottom: 5px; }

footer .copyright a {
  color: #384E74;
  text-decoration: underline; }

footer .leng {
  font-size: 0; }

footer .leng li {
  font-size: 12px;
  display: inline-block;
  margin-right: 15px; }

footer .leng li a {
  color: #7F8A9E; }

footer .leng li a:hover {
  text-decoration: underline; }

@media only screen and (max-width: 480px) {
  footer .main-grid > div {
    padding: 0; }
  footer .about {
    margin-right: 80px;
    margin-bottom: 40px; } }
