md-input-container {
  margin-bottom: 10px; }

md-input-container:last-of-type {
  margin: 0; }

.validation-message {
  margin-bottom: 16px; }

h2 {
  margin-bottom: 40px; }

.cta-green {
  min-width: 220px !important;
  margin-top: 20px;
  margin-bottom: 30px; }
