<h1 class="inner-main-title">Set New Password</h1>
<h2>You must create a new password to regain access to your account.</h2>
<form novalidate (ngSubmit)="save()" [formGroup]="passwordForm">
    <md-input-container>
        <input mdInput placeholder="Password" type="password" name="password" formControlName="password" required/>
    </md-input-container>
    <app-control-messages [control]="passwordForm.controls.password"></app-control-messages>
    <md-input-container>
        <input mdInput name="certainPassword" formControlName="certainPassword" placeholder="Confirm Password"
               type="password" required/>
    </md-input-container>
    <app-control-messages [control]="passwordForm"></app-control-messages>
    <div *ngIf="formErrors" class="validation-message">
        <h3 class="error-message">{{formErrors}}</h3>
    </div>
    <button class="cta-green" type="submit" md-raised-button color="primary" [disabled]="!passwordForm.valid">save &
        login
    </button>
</form>
